<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Conversations TEMP</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
    integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
    crossorigin="anonymous"></script>

  <!-- Extrenal CSS Library -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Local Js Files -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/public/scripts/home.js"></script>
  <script type="text/javascript" src="/public/scripts/myFavorites.js"></script>
  <script type="text/javascript" src="/public/scripts/items.js"></script>

</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <%- include('header') %>

  <h3>SortBy</h3>
  <a href="?sort=price">Price</a>
  <br>
  <a href="?sort=date">Date</a>
  <br>
  <a href="?sort=favorites">Favorites</a>

  <% for (const elem of items) {%>

    <% if (!(elem.sold || elem.deleted)) {%>

      <div class="item-border">
            <div class="inner-content">
              <img style="width: 15%;" src=<%=elem.thumbnail_photo_url%> alt="">
              <a href='/api/items/<%=elem.id%>'>
                <h6><%=elem.title%></h6>
              </a>
                  <h5 class="title"><%= elem.description.substring(0, 80) %> ... </h5>
            </div>
            <div class="test">
              <h6><%= moment(elem.date_listed).startOf('hour').fromNow() %></h6>
              <h6>Price: $<%= elem.price %></h6>
              <h6>Likes: <%= elem.number_of_likes %></h6>
            </div>
      </div>
      <% if (isAdmin) {%>
      <div>
        <form action="/api/items/<%=elem.id%>/delete", method="POST">
          <button type="submit">
            Delete
          </button>
        </form>
        <form action="/api/items/<%=elem.id%>/sold", method="POST">
          <button type="submit">
            Mark As Sold
          </button>
        </form>
      </div>
    <%}%>
      <%}%>
  <%}%>
</body>
</html>
